.employee-card-container {
  height: 150px;
  border: 1px solid grey;
  max-width: 510px;
  margin-top: 30px;
  float: left;
  margin-right: 20px;
  text-align: left;
}

.photo-container {
  float: left;
  width: 150px;
  height: 100%;
}

.photo-container img {
  height: 100%;
  width: 100%;
}

.card-info-container {
  float: right;
  width: 350px;
  height: 100%;
  padding: 10px;
}
.card-info-container span {
  font-size: 19px;
  font-weight: 500;
}

.nowrap {
  white-space: nowrap;
}
